<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Library Catalog</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/header.css">

</head>
<body>
  <div th:replace="fragments/topbar :: topbar"></div>

<main class="hero">
  <h1>Find your next book</h1>
  <p>Search by title, author, or ISBN.</p>

  <form th:action="@{/search}" method="get" class="searchbar">
    <input name="q" type="text" placeholder="e.g., mockingbird, fitzgerald, 9780743273565" required>
    <button type="submit">Search</button>
  </form>
</main>

</body>
</html>
